

/* Start:/bitrix/templates/.default/components/bitrix/news/b-articles-list1/bitrix/news.list/.default/style.css?1525446384108*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/templates/.default/components/bitrix/news/b-articles-list1/bitrix/news.list/.default/style.css?1525446384108 */
