

/* Start:/bitrix/components/bitrix/breadcrumb/templates/.default/style.min.css?1525446387448*/
.bx-breadcrumb{margin:10px 0}.bx-breadcrumb i{color:#b5bdc2;line-height:13px;font-size:12px;vertical-align:middle;margin-right:5px}.bx-breadcrumb .bx-breadcrumb-item{float:left;margin-bottom:10px;white-space:nowrap;line-height:13px;vertical-align:middle;margin-right:10px}.bx-breadcrumb .bx-breadcrumb-item span{font-family:"Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:13px}.bx-breadcrumb .bx-breadcrumb-item a{border-bottom:0}
/* End */


/* Start:/bitrix/templates/hr-site/components/bitrix/news/b-our-cases-list/bitrix/news.detail/.default/style.css?1525446385111*/
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */
/* /bitrix/components/bitrix/breadcrumb/templates/.default/style.min.css?1525446387448 */
/* /bitrix/templates/hr-site/components/bitrix/news/b-our-cases-list/bitrix/news.detail/.default/style.css?1525446385111 */
