

/* Start:/bitrix/components/bitrix/breadcrumb/templates/.default/style.min.css?1525446387448*/
.bx-breadcrumb{margin:10px 0}.bx-breadcrumb i{color:#b5bdc2;line-height:13px;font-size:12px;vertical-align:middle;margin-right:5px}.bx-breadcrumb .bx-breadcrumb-item{float:left;margin-bottom:10px;white-space:nowrap;line-height:13px;vertical-align:middle;margin-right:10px}.bx-breadcrumb .bx-breadcrumb-item span{font-family:"Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:13px}.bx-breadcrumb .bx-breadcrumb-item a{border-bottom:0}
/* End */


/* Start:/bitrix/templates/hr-site/components//bitrix/system.pagenavigation/modern/style.css?1525446385744*/
div.modern-page-navigation { 
	padding: 0.5em 0;}
div.modern-page-navigation a, 
span.modern-page-current, 
span.modern-page-dots
{
	border-left-width: 1px;
	border-left-style: solid;
	padding-left: 0.75em;
	padding-right: 0.5em;
	text-decoration: none;
}
div.modern-page-navigation a.modern-page-previous { 
	border-right-width: 1px; 
	border-right-style: solid; 
	border-left: none; }
div.modern-page-navigation a.modern-page-first, 
div.modern-page-navigation span.modern-page-first { 
	border-left: none; 
	padding-left: 0.5em; }
span.modern-page-current { 
	font-weight: bold; }
div.modern-page-navigation a, 
span.modern-page-current, 
div.modern-page-navigation a.modern-page-previous, 
span.modern-page-dots { 
	border-color: #cdcdcd; }
/* End */


/* Start:/bitrix/templates/hr-site/components/bitrix/news/b-our-cases-list/bitrix/news.list/.default/style.css?1525446385108*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/components/bitrix/breadcrumb/templates/.default/style.min.css?1525446387448 */
/* /bitrix/templates/hr-site/components//bitrix/system.pagenavigation/modern/style.css?1525446385744 */
/* /bitrix/templates/hr-site/components/bitrix/news/b-our-cases-list/bitrix/news.list/.default/style.css?1525446385108 */
