

/* Start:/bitrix/templates/hr-site/components/bitrix/news.list/ustav-docs/style.css?1525446385108*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/templates/hr-site/components/bitrix/news.list/ustav-docs/style.css?1525446385108 */
