

/* Start:/bitrix/components/sotbit/reviews.share/templates/.default/style.css?15385730351960*/
#sotbit_reviews_share
{
	float:right;
}
#sotbit_reviews_share .share
{
	font-size:14px;
	text-decoration:none;
	color:#c1c4cb;
	margin-right:5px;
}

#sotbit_reviews_share .share:hover
{
	color:#303030;
}
#reviews-sharelink-popup {

	background: #fff;
	position:  fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 10000; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 26px;
	border-radius:2px;
	border:1px solid #ebebeb;
}
#reviews-sharelink-overlay {
	z-index:9999; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; 
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}
#sotbit_reviews_share .share-link-title
{
	display:none;
}
#reviews-sharelink-popup #modal_close
{
	width: 21px;
	height: 21px;
	position: absolute;
	top: 23px;
	right: 21px;
	cursor: pointer;
	display: block;
	color:#888888;
	font-size:20px;
}
#reviews-sharelink-popup .title{
	font-size:18px;
}
#reviews-sharelink-popup .text{
	font-size:14px;
}
@media (max-width: 768px) {
	#sotbit_reviews_share{float:none;}
	#reviews-sharelink-popup .title{
	font-size:14px;
}
#reviews-sharelink-popup .text{
	font-size:10px;
}
}
/* End */
/* /bitrix/components/sotbit/reviews.share/templates/.default/style.css?15385730351960 */
