.btn {
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
	-webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
	   -moz-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
	        box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
	cursor: pointer;
	display: inline-block;
	position: relative;
	text-align: center;
	text-decoration: none !important;
	-ms-touch-action: manipulation;
	    touch-action: manipulation;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}
.btn:focus, .btn:active:focus {
	outline: 5px auto -webkit-focus-ring-color;
}
.btn:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) !important;
	   -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) !important;
	        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) !important;
}
.btn.btn-md {
	font-size: 16px;
	line-height: 20px;
	padding: 10px 15px;
}
.btn-red {
	background-color: #e90000;
	color: #fff;
}
.btn-red:hover {
	background-color: #ff1f1f;
}

.block-content p + p {
	margin-top: 15px;
}

#modal-back {
	display: table;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	z-index: 99999;
	-webkit-transition: opacity 200ms linear;
	-o-transition: opacity 200ms linear;
	-moz-transition: opacity 200ms linear;
	transition: opacity 200ms linear;
}
#modal-back > * {
	display: table-cell;
	vertical-align: middle;
}
@media only screen and (max-width: 1023px) {
	#modal-back,
	#modal-back > * {
		display: block;
	}
	.modal-back-container {
		bottom: 0;
		height: 100%;
		left: 0;
		overflow-x: hidden;
		overflow-y: auto;
		position: fixed;
		right: 0;
		top: 0;
	}
}
#modal-back.active {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 200ms linear;
	-o-transition: opacity 200ms linear;
	-moz-transition: opacity 200ms linear;
	transition: opacity 200ms linear;
}
#modal-back .modal-form {
	background: #c0c1c1 url(../img/bg.jpg) 0 0 repeat;
	color: #fff;
	display: none;
	margin: 0 auto;
	opacity: 0;
	overflow: hidden;
	position: relative;
	transition: opacity 200ms linear;
}
#modal-back .modal-form.active {
	display: block;
	opacity: 1;
	-webkit-transition: opacity 200ms linear;
	-o-transition: opacity 200ms linear;
	-moz-transition: opacity 200ms linear;
	transition: opacity 200ms linear;
}

#modal-back .modal-form.modal-sm {
	width: 370px;
}

#modal-back .modal-form.modal-lg {
	width: 800px;
}
@media only screen and (max-width: 1023px) {
	#modal-back .modal-form {
		width: 100% !important;
	}
}
#modal-back .modal-form .form-track {
	padding: 30px 60px;
	position: relative;
	z-index: 2;
}
@media only screen and (max-width: 1023px) {
	#modal-back .modal-form .form-track {
		padding: 30px 20px 20px;
	}
}
#modal-back .modal-form .modal-close {
	color: #fff;
	cursor: pointer;
	font-size: 24px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	right: 0;
	text-align: center;
	text-decoration: none;
	top: 0;
	width: 50px;
}
#modal-back .modal-form .modal-close i {
	line-height: inherit;
	font-style: normal;
}
#modal-back .modal-form .modal-close i:before {
	content: 'X';
}
#modal-back .modal-form .modal-close:hover {
	background: #e90000;
}

#modal-back .modal-form .caption {
	font-size: 30px;
	line-height: 34px;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
}
@media only screen and (max-width: 1023px) {
	#modal-back .modal-form .caption {
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 15px;
	}
}
#modal-back .modal-form .intro {
	font-size: 24px;
	line-height: 30px;
	text-align: center;
}
@media only screen and (max-width: 1023px) {
	#modal-back .modal-form .intro {
		font-size: 18px;
		line-height: 24px;
	}
}
#modal-back a:hover {
	background: none;
	color: #e90000;
	text-decoration: underline;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="url"],
input[type="search"],
textarea,
select {
	background: #fff;
	border: 2px solid #c0c1c1;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	height: 36px;
	line-height: 20px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="url"],
input[type="search"],
textarea {
	padding: 7px 10px;
}

input[type="file"] {
	background: #fff;
	border: 2px solid #c0c1c1;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	color: #000;
}

textarea {
	height: 90px;
	resize: none;
}

.form_box input[type="text"],
.form_box input[type="tel"],
.form_box input[type="email"],
.form_box input[type="number"],
.form_box input[type="password"],
.form_box input[type="url"],
.form_box input[type="search"],
.form_box textarea,
.form_box select {
	display: block;
	width: 100%;
}

.form_box+.form_box {
	margin-top: 15px;
}

.form_button {
	margin-top: 20px;
	text-align: center;
}

.form_container .form_box {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	float: left;
	margin-bottom: 10px;
	width: 50%;
}

.form_container .form_box+.form_box {
	margin-top: 0;
}